<%- include header %>
<% var total = 0 %>
<div class="main">
	<div class="cart-header">
		<img src="https://store.storeimages.cdn-apple.com/8750/as-images.apple.com/is/image/AppleInc/aos/published/images/d/el/delivery/message/delivery-message-banner?wid=38&amp;hei=42&amp;fmt=png-alpha&amp;qlt=80&amp;.v=1478022116198"
		width="19" height="21" alt="">
		免费送货，还可免费退货。
	</div>
	<form class="cart-content clear-fix" action="/cart/buy" method="post">
		<h1>购物袋内的产品</h1>
		<hr>
	<% products.forEach(function (product, index) { %>
		<% total += product.price %>
		<div class="cart-item">
			<img src="<%= product.img %>" alt="" width="110" height="110">
			<div class="cart-item-con">
			  <div class="cart-item-de">
				  <p> <%= product.name %> </p>
					<span class="cart-item-price">RMB <%= product.price %></span>
					<input class="cart-item-num" type="text" name="num<%= index %>" value="1">
					<span class="cart-item-total">RMB <%=product.price %></span>
			  </div>
				<div class="cart-item-day">
					送达日期：1周
				</div>
				<a class="delete-item" href="/cart/delete/<%= product.name %>">删除</a>
			</div>
		</div>
	<% }) %>
	<div class="cart-buy"style="float:right">
		<span class="cart-total">总计 RMB <%= total %></span>
	  <button class="buy-btn" type="submit" name="button">结账</button>
	</div>
</form>
</div>
<%- include footer %>
